/* 
 * små justeringar i kartans storlek för att passa bättre på olika skärmar 
 */
 
.map-area {
  width: 360px;
  height: 640px;
  margin: 0 auto;
}

.map-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
